
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

__pycache__/
output_files/
drafts/
testGraph/
*/__pycache__/

*.csv



# End of https://www.gitignore.io/api/visualstudiocode